<md-content layout="row" layout-align="center center">
  <md-card>
    <md-card-title>
      Iniciar sesión
    </md-card-title>
    <md-card-content layout="column" layout-align="center center">
      <md-input-container>
        <label>
          Usuario
        </label>
        <input type="email">
      </md-input-container>
      <md-input-container>
        <label>
          Contraseña
        </label>
        <input type="password">
      </md-input-container>
    </md-card-content>
    <md-car-actions layout="column">
      <md-button class="md-primary md-raised">
        Iniciar sesion
      </md-button>
      <md-button class="">
        Recuperar contraseña
      </md-button>
    </md-car-actions>
  </md-card>
</md-content>

