<md-content layout="row" layout-align="center center">
  <md-card>
    <md-card-title layout="row" layout-align="center center">
      Iniciar sesión en Medipass
    </md-card-title>
    <md-card-content layout="column" layout-align="center center">
      <div ng-show="$ctrl.mensaje.visible" style="color:red" layout-padding>
        <p>{{$ctrl.mensaje.texto}}</p>
        </div>
      <form name="loginForm" layout="column" layout-align="center center">
      <md-input-container>
        <label translate="USERNAME">

        </label>
        <input type="text" name="username" ng-model="$ctrl.username" required>
        <div  ng-messages="loginForm.username.$error && loginForm.$invalid">
            <div ng-message="required">
              <span translate="USERNAME_REQUIRED"></span>
            </div>
          </div>
      </md-input-container>
      <md-input-container>
        <label translate="PASSWORD">

        </label>
        <input type="password" name="password" ng-model="$ctrl.pwd" required>
        <!-- <div ng-if="loginForm.password.$dirty" ng-messages="loginForm.password.$error"> -->
        <div  ng-messages="(loginForm.password.$error && loginForm.$invalid)">
            <div ng-message="required">
              <span translate="PASSWORD_REQUIRED"></span>
            </div>
          </div>
      </md-input-container>
        <md-button class="md-primary md-raised" type="submit" translate="LOGIN" aria-label="LOGIN" ng-disabled="loginForm.$invalid" ng-submit="$ctrl.login()" ng-click="$ctrl.login()">
        <span translate="LOGIN"></span>
      </md-button>
      </form>
    </md-card-content>
    <md-car-actions layout="column">
      <!-- <md-button class="md-primary md-raised" type="submit" translate="LOGIN" aria-label="LOGIN" ng-disabled="loginForm.$invalid" ng-submit="$ctrl.login()" ng-click="$ctrl.login()">
        <span translate="LOGIN"></span>
      </md-button> -->
      <md-button class="" ui-sref="access.recuperar" aria-label="FORGOT_PWD">
        <span translate="FORGOT_PWD"></span>
      </md-button>
    </md-car-actions>
  </md-card>
</md-content>

