<md-whiteframe class="md-whiteframe-1dp" flex layout="column" layout-align="center center">
    <span>Tabla de muestra usuarios</span>
     <span>{{$ctrl.actions}}</span>
    <md-switch ng-model="$ctrl.actions[0].action1Value">action 1</md-switch>
    <md-switch ng-model="$ctrl.action1Value">action 1</md-switch>
    <custom-table
    config="$ctrl.config"
    object-config="$ctrl.objectConfig"
    headers="$ctrl.headers"
    objects="$ctrl.objects"
     actions="$ctrl.actions"
     on-action="$ctrl.accionTabla(name, object)"></custom-table>
  </md-whiteframe>
