<md-sidenav class="md-sidenav-left md-whiteframe-4dp"
            style="height: 100%"
            md-disable-scroll-target="body"
            md-is-open="true"
            md-is-locked-open="true"

            md-component-id="right">
<!--md-theme="dark"-->
  <md-toolbar  class="md-theme-light md-hue-1">
    <!--md-theme="dark"-->
    <h1 class="md-toolbar-tools">
      Financiador
    </h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item layout="row" ng-repeat-start="item in $ctrl.menu" ui-sref="{{item.state}}">
        <md-icon>{{item.icon}}</md-icon>
        <span flex translate="{{item.name}}">
        </span>
      </md-list-item>
      <md-divider ng-repeat-end ng-hide="$last"></md-divider>
    </md-list>
  </md-content>
</md-sidenav>
