 <md-sidenav ng-class="$ctrl.config.class"
            md-disable-scroll-target="{{$ctrl.config.disableScrollTarget}}"
            md-is-open="$ctrl.config.isOpen"
            md-is-locked-open="{{$ctrl.config.isLockedOpen}}"
            md-component-id="{{$ctrl.config.componentId}}">

<!--md-theme="dark"-->
  <md-toolbar ng-if="$ctrl.config.toolba" class="md-theme-light md-hue-1">
    <!--md-theme="dark"-->
    <h1
    ng-class="$ctrl.config.toolbar.class"
    translate="{{$ctrl.config.toolbar.text}}">
      <!-- Financiador -->
    </h1>
  </md-toolbar>
  <md-content layout-padding style="height: 100%">
    <md-list>
      <md-list-item layout="row" ng-repeat-start="item in $ctrl.menu" ui-sref="{{item.state}}">
        <md-icon>{{item.icon}}</md-icon>
        <span flex translate="{{item.name}}">
        </span>
      </md-list-item>
      <md-divider ng-repeat-end ng-hide="$last"></md-divider>
    </md-list>
  </md-content>
</md-sidenav>
