<md-sidenav class="md-sidenav-left md-whiteframe-4dp"
            style="height: 100%"
            md-disable-scroll-target="body"
            md-is-open="true"
            md-is-locked-open="true"

            md-component-id="right">
<!--md-theme="dark"-->
  <md-toolbar  class="md-theme-light md-hue-1">
    <!--md-theme="dark"-->
    <h1 class="md-toolbar-tools">
      Financiador
    </h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-list>
      <md-list-item layout="row">
        <md-icon>folder</md-icon>
        <span flex>
          Carpetas
        </span>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item layout="row">
        <md-icon>people</md-icon>
        <span flex>
          Usuarios
        </span>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-content>
</md-sidenav>
