a {
  color: #f78c40;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #e16309;
  text-decoration: underline;
}
.text-primary {
  color: #f78c40;
}
a.text-primary:hover {
  color: #f56f0f;
}
.bg-primary {
  color: #fff;
  background-color: #f78c40;
}
a.bg-primary:hover {
  background-color: #f56f0f;
}
.btn-primary {
  color: #ffffff;
  background-color: #f78c40;
  border-color: #f67d28;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #f57419;
  border-color: #d75f09;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #f78c40;
  border-color: #f67d28;
}
.btn-primary .badge {
  color: #f78c40;
  background-color: #ffffff;
}
.btn-link {
  color: #f78c40;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #f78c40;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #f78c40;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #f78c40;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #f78c40;
}
.navbar-default {
  background-color: #f78c40;
  border-color: #f67920;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  color: #f78c40;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #e16309;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #f78c40;
  border-color: #f78c40;
  cursor: default;
}
.label-primary {
  background-color: #f78c40;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #f56f0f;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #f78c40;
  background-color: #ffffff;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #f78c40;
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #f78c40;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #f78c40;
  border-color: #f78c40;
}
.panel-primary {
  border-color: #f78c40;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #f78c40;
  border-color: #f78c40;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #f78c40;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #f78c40;
}

.pagination-label{
  color: rgba(0, 0, 0, 0.54) !important
}

md-table-pagination div.label{
   color: rgba(0, 0, 0, 0.54) !important;
   font-size: 100%;
}
